<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ medicine.name }}</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
	<div id="medicine" class="medic">
		<div>
			<h1>{{ medicine.name }}</h1>
    		<p>Shakli: {{ medicine.shape }}</p>
    		<p>Ishlab chiqarilgan sana: {{ medicine.made_on }}</p>
    		<p>Yaroqlilik muddati: {{ medicine.yaroqlilik_muddati }}</p>
    		<p>Dori haqida: {{ medicine.text }}</p>
		</div>
	</div>
    
</body>
</html>


<!--<style>-->

<!--	#medicine video {-->
<!--		position: absolute;-->
<!--		top: 0;-->
<!--		left: 0;-->
<!--		object-fit: cover;-->
<!--		width: 100%;-->
<!--		height: 100%;-->
<!--		pointer-events: none;-->
<!--	}-->
<!--	.medic {-->
<!--	width: 100%;-->
<!--	height: 100vh;-->
<!--	overflow: hidden;-->
<!--	display: flex;-->
<!--	justify-content: center;-->
<!--	align-items: center;-->
<!--	}-->
<!--	#medicine div {-->
<!--		position: relative;-->
<!--		z-index: 1;-->
<!--		text-align: center;-->
<!--	}-->
<!--	#medicine div h1 {-->
<!--		font-size: 3.5rem;-->
<!--		text-transform: uppercase;-->
<!--		color: aqua;-->
<!--		text-shadow: 0 0 46px red;-->
<!--	}-->

<!--	#medicine div p {-->
<!--		font-size: 1.5rem;-->
<!--		text-transform: uppercase;-->
<!--		color: #000;-->
<!--		line-height: 2rem;-->
<!--	}-->

<!--</style>-->
